// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.boards__tabls {
  tr:hober {
    cursor: pointer;
  }
}
.boards__linkBox {
  a {
    margin: 0 8px;
  }
}

.boards__searchForm {
  display: inline-block;
}

.boards__select {
  display: inline-block;
  width: auto;
}

#info dl {
  display: flex;
  flex-wrap: wrap;
  // margin-bottom: 50px;
}

#info dt {
  width: 7em;
}

#info dd {
  width: calc(100% - 7em);
}

#info dt,
#info dd {
  margin-bottom: 10px;
}